body {
  background-color: #FAF3E0; /* soft cream */
  color: #1E1E1E; /* main text color */
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;

}
h1 {
  color: #D85C41; /* clay red */
  font-family: 'Rock Salt', cursive;
  font-size: 3rem;
}
h2 {
  color: #A4B494; /* sage green */
  font-size: 1.5rem;
  font-weight: 500;
}
#title{
    text-align: center;
}


 body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
.profile-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5%;
}
.title1{
    color:#D85C41;
    font-family: "Rock Salt" ,cursive;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
    max-width:600px;
    padding: 1.5rem;
    margin: 0 auto;
    justify-content: center;
    
   
    grid-auto-columns:auto;
}

@media (max-width:600px) {
    .container{
        display: flex;
        margin-top: 250px;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

}
    



.card:hover {
  transform: translateY(-5px);
}
#projects{
   
    margin-top: 2rem;
    
    padding: 3rem 1rem;
    background-color: #fff;
}
.card{
    margin-top: 50px;
     display: flexbox;
     background-color: #D85C41;
     border-radius: 12px;
     max-width: fit-content;
     
    
     padding: 1rem;
     text-align: left;
    
     

}

.last {
    padding: 50px 20px 20px;
    display:flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    

}

a{
    margin:0;
    text-decoration: none;
    color: #A4B494;
    
}
a:hover{
    color:#D85C41;
}

.copyright{
    
    padding: 20px 0;
    text-align: center;
    
    
}
ul{
    list-style: none;
}

